<header id="header">
  <nav id="nav">
    <a href="/logout">ログアウト</a>
  </nav>
  <h1 id="logo">whathow</h1>
  <div id="tweet">
    <a href="https://twitter.com/share">ツイート</a>
  </div>
</header>

<div id="what-wrap">
  <textarea id="what" placeholder="What"></textarea>
</div>
<div id="how-wrap">
  <textarea id="how" placeholder="How"></textarea>
</div>

<div id="emotions-wrap">
  <table id="emotions">
    <tr>
      <td class="emotion">やばい</td>
      <td class="emotion">あつい</td>
      <td class="emotion">わろた</td>
    </tr>
    <tr>
      <td class="emotion">せやかて</td>
      <td class="emotion">あかん</td>
      <td class="emotion">あああ</td>
    </tr>
    <tr>
      <td class="emotion">わっしょい</td>
      <td class="emotion">まじか</td>
      <td>切替</td>
    </tr>
  </table>
</div>
