header#header
  nav#nav
    a href="/logout" ログアウト
  h1#logo WhatHow
  #tweet
    a#btn-tweet href="https://twitter.com/share" ツイート

#what-wrap
  textarea#what placeholder="What"
#how-wrap
  textarea#how placeholder="How"

#emotions-wrap
  table#emotions
    tr
      td: button.btn-emotion.emotion やばい
      td: button.btn-emotion.emotion あつい
      td: button.btn-emotion.emotion わろた
    tr
      td: button.btn-emotion.emotion せやかて
      td: button.btn-emotion.emotion あかん
      td: button.btn-emotion.emotion あああ
    tr
      td: button.btn-emotion.emotion わっしょい
      td: button.btn-emotion.emotion まじか
      td: button.btn-emotion オリジナル
