<header id="header">
  <nav id="nav">
    <a href="/logout">ログアウト</a>
  </nav>
  <h1 id="logo">whathow</h1>
  <div id="tweet">
    <a href="https://twitter.com/share">ツイート</a>
  </div>
</header>

<div id="what-wrap">
  <textarea id="what" placeholder="What"></textarea>
</div>
<div id="how-wrap">
  <textarea id="how" placeholder="How"></textarea>
</div>

<div id="emotions-wrap">
  <table id="emotions">
    <tr>
      <td><button class="btn-emotion emotion">やばい</button></td>
      <td><button class="btn-emotion emotion">あつい</button></td>
      <td><button class="btn-emotion emotion">わろた</button></td>
    </tr>
    <tr>
      <td><button class="btn-emotion emotion">せやかて</button></td>
      <td><button class="btn-emotion emotion">あかん</button></td>
      <td><button class="btn-emotion emotion">あああ</button></td>
    </tr>
    <tr>
      <td><button class="btn-emotion emotion">わっしょい</button></td>
      <td><button class="btn-emotion emotion">まじか</button></td>
      <td><button class="btn-emotion">オリジナル</button></td>
    </tr>
  </table>
</div>
