ul
  li: a href="/auth/twitter" ログインする
  li: a href="/tweet-button" ログインせずに試す

a.twitter-timeline href="https://twitter.com/hashtag/WhatHow" data-widget-id="518820731656736768" data-dnt="true" #WhatHow
