// Media queries breakpoints
// Small screen / tablet
$screen-sm-min: 768px;
// Medium screen / desktop
$screen-md-min: 992px;
// Large screen / wide desktop
$screen-lg-min: 1200px;

$body-bg: #fff;
$text-color: #444;
$link-color: #428bca;
$link-hover-color: darken($link-color, 15%);
$font-family-sans-serif: sans-serif;
$font-size-base: 16px;
$sm-font-size-base: 24px;
$md-font-size-base: 32px;
$lg-font-size-base: 40px;

$base-color: #00a0e6;
$main-color: #fef13b;
$accent-color: #e8008a;

$header-bg: $base-color;
$header-color: $body-bg;
$emotion-bg: $main-color;
$emotion-color: $accent-color;

$logo-font-size: 1.25rem;
$emotion-font-size: 1.25rem;
