$body-bg: #fff;
$text-color: #222;
$link-color: #428bca;
$link-hover-color: darken($link-color, 15%);
$font-family-sans-serif: sans-serif;
$font-size-base: 1em;

$base-color: #00a0e6;
$main-color: #fef13b;
$accent-color: #e8008a;

$header-bg: $base-color;
$header-color: $body-bg;
$emotion-bg: $main-color;
$emotion-color: $accent-color;

$logo-font-size: 1.5rem;
$emotion-font-size: 1.25rem;
