* {
  box-sizing: border-box;
}

html {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.4;
  @include mediaquery-sm {
    font-size: $sm-font-size-base;
  }
  @include mediaquery-md {
    font-size: $md-font-size-base;
  }
  @include mediaquery-lg {
    font-size: $lg-font-size-base;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

/* Height */
html, body {
  height: 100%;
}
#header {
  height: 10%;
}
#what-wrap {
  height: 10%;
}
#how-wrap {
  height: 35%;
}
#emotions-wrap {
  height: 45%;
}
#header, #what-wrap, #how-wrap, #emotions-wrap {
  overflow: hidden;
  width: 100%;
}


#header {
  background-color: $header-bg;
  color: $header-color;
  display: table;
  text-align: center;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
  a {
    color: $header-color;
    text-decoration: none;
  }
}

#logo {
  font-size: $logo-font-size;
  font-weight: normal;
  margin: 0;
}
.nav {
  width: 25%;
  &:hover {
    background-color: lighten($header-bg, 5%);
  }
}

#how-wrap {
  border-top: 1px solid #ccc;
}
#what, #how {
  border: none;
  border-radius: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

#emotions {
  height: 100%;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  td {
    border: 1px solid darken($main-color, 25%);
  }
}
.btn-emotion {
  background-color: $emotion-bg;
  border: none;
  height: 100%;
  padding: 0;
  width: 100%;
  &:focus {
    outline: 0;
  }
  &:active {
    background-color: $emotion-color;
  }
}
.emotion {
  color: $emotion-color;
  font-size: $emotion-font-size;
  font-weight: bold;
  &:active {
    color: $emotion-bg;
  }
}
